html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.3;
}

@media only screen and (min-width: 820px) {
  html {
    font-size: 18px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #decccc;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.4rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.content-wrapper {
  width: 100%;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  padding: 24px;
}

.accordion-item {
  border-bottom: 1px solid #b89e97;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.accordion-item:first-child {
  border-top: 1px solid #b89e97;
}

.accordion-item__label {
  width: 90%;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.accordion-item__radio:checked ~ .accordion-item__content {
  max-height: 100vh;
  padding-bottom: 0.6em;
}

.accordion-item__radio:checked ~ .accordion-item__icon {
  transform: rotate(45deg);
}

.accordion-item__icon {
  display: flex;
  width: 6%;
  align-items: center;
  justify-content: center;
  transition: all ease 250ms;
}

.accordion-item__icon i {
  font-size: 1.4rem;
}

.accordion-item__content {
  width: 100%;
  padding-right: 10%;
  font-size: 1rem;
  font-weight: 400;
  max-height: 0;
  transition: all ease 400ms;
}

@media (hover: hover) {
  .accordion:hover * {
    cursor: pointer;
  }

  .accordion:hover .accordion-item__icon {
    opacity: 1;
  }

  .accordion:hover .accordion-item__label {
    color: black;
  }

  .accordion-item__label {
    color: #247ba0;
    transition: color 250ms;
  }

  .accordion-item__icon {
    opacity: 0;
  }

  .accordion-item:hover .accordion-item__icon {
    opacity: 1;
    transform: rotate(45deg);
  }

  .accordion-item:hover .accordion-item__content {
    max-height: 100vh;
    padding-bottom: 0.6em;
  }

  .accordion-item__radio:checked ~ .accordion-item__label {
    color: black;
  }
}
